*.pyc
*~
*.so
build
dist
hotcent.egg-info
hotcent/*.html
examples/*
!examples/*.py
!examples/*.psf
tests/*.skf
tests/*.3cf
tests/*.spl
tests/.hypothesis
tutorials/*
!tutorials/*.ipynb
!tutorials/*.json
